// @import url('https://fonts.googleapis.com/css2?family=Charm&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Charm&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$orange-color : #ee5a3b;
$yellow-color : #FFC300;
$gray-color-font : #777;
$dark-color : #000;
$lightgray-border: #e5e5e5;

@mixin container-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@mixin section-top-bottom-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@mixin section-sub-underline ($width, $margin : 2.5rem) {
    content: " ";
    display: block;
    height: 1px;
    width: $width;
    background: $orange-color;
    margin: $margin auto;
}

@mixin section-subtitle {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-bottom: 2.5rem;
}

@mixin no-list-style {
    list-style: none;
}

@mixin no-list-spacing {
    padding: 0;
    margin: 0;
}

@mixin no-margin {
    margin: 0;
}

@mixin mx-0 {
    margin-left: 0;
    margin-right: 0;
}

@mixin my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

@mixin mx($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin my($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin px($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin py($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin input-ctrl-radius {
    border-radius: 0.1rem;
}

@mixin textbox-style {
    border: 1px solid $lightgray-border;
    outline: 0;
    @include input-ctrl-radius();
    @include input-innerpadding();
    // margin-bottom: 2rem;
}

@mixin input-innerpadding {
    @include py(.7rem);
    @include px(.5rem);
}



*,
::after,
::before {
    box-sizing: border-box;
    // padding: 0;
    // margin: 0;
}

html,
body {
    /* font-size: 62.50%; */
    font-size: .625rem;
    box-sizing: border-box;
    // font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // height: 100%;   
    // overflow-y: visible;  
}
.body-overflow{
    overflow: hidden;
}
// max-width: 1380px;

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.34rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.26rem;
}

::placeholder {
    font-weight: 300;
}

a {
    font-size: 1.6rem;
    // text-decoration: none;
}

.image-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

label,
input,
select,
li,
div,
aside,
section {
    font-size: 1.6rem;
    font-weight: 300;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 25px;
    // margin: 0px;
}

// .no-space{
//     padding: 0;
//     margin: 0;    
// }

// .no-underline{
//     text-decoration: none;
// }

.container {
    @include container-padding;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container-full {
    // width: 100%;
    max-width: 1920px;
    // margin-left: auto;
    // margin-right: auto;
    @include mx-auto;
}


.btn {
    text-decoration: none;
    display: inline-block;
    background: transparent;
    transition: all .3s;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.btn-normal {
    padding: .6rem 1.2rem;
}

.btn-link:hover {
    text-decoration: underline;
}

.link-blue {
    color: #007bff;
}

.link-gray {
    color: gray;
}

.link-green {
    color: green;
}

.link-orange {
    color: orange;
}

.link-red {
    color: red;
}

.btn-blue {
    background: #007bff;
    color: white;
}

.btn-gray {
    background: gray;
    color: white;
}

.btn-green {
    background: green;
    color: white;
}

.btn-orange {
    background: orange;
    color: white;
}

.btn-red {
    background: red;
    color: white;
}

.btn-standard {
    padding: 1.15rem;
    @include my(1rem);

}

.btn-full {
    display: block;
    width: 100%;
    @include my(1rem);
    @include py(1.15rem);
}

// .btn-outline-primary{
//     border-radius: .7rem;    
//     border: 1px solid $orange-color;
// }
// .btn-outline-primary:hover{
//     color: #fff;
//     border-radius: 0rem;    
//     background: $orange-color;    
// }
.btn-solid-primary {
    border: 1px solid black;
    background: black;
    color: #fff;
    border-radius: .1rem;
}

.btn-solid-primary:hover {
    // @include btn-hover;
    transition: .3s all;
    // border-radius: .3rem;
    // background: lighten($orange-color, 10%);
    background: lighten(#000, 20%);
    // background: transparent;
    border: 1px solid lighten(#000, 20%);
    // color: $orange-color;
}

.btn-solid-black {
    border: 1px solid $dark-color;
    background: $dark-color;
    color: #fff;
    border-radius: .1rem;
}

.btn-solid-black:hover {
    // @include btn-hover;
    transition: .3s all;
    // border-radius: .3rem;
    // background: lighten($orange-color, 10%);
    background: lighten(#000, 20%);
    // background: transparent;
    border: 1px solid lighten(#000, 20%);
    // color: $orange-color;
}

// @mixin btn-hover {
//     transition: .3s all;
//     // border-radius: .3rem;
//     // background: lighten($orange-color, 10%);
//     background: lighten(#000, 10%);
//     // background: transparent;
//     border: 1px solid lighten(#000, 10%);
//     // color: $orange-color;
// }


.btn-icon {
    color: white;
    padding: 1rem 1.5rem;
}

.btn-icon:hover {
    color: #c0c0c0;
}

.label {
    font-size: 1.4rem;
    display: block;
    color: gray;
    text-transform: uppercase;
}

.textbox {
    @include textbox-style();
}

.input-full {
    width: 100%;
}

.select {
    border: 1px solid $lightgray-border;
    outline: 0;
    @include input-ctrl-radius();
    @include input-innerpadding();
    // margin-bottom: 2rem;
}

option:not(:first-of-type) {
    color: black;
}

.textarea {
    border: 1px solid $lightgray-border ;
    @include input-innerpadding();
    @include input-ctrl-radius;
    outline: 0;
    font-weight: 300;
}

.msg-error {
    font-size: 1.3rem;
    color: red;
}

.msg-warning {
    font-size: 1.3rem;
    color: rgb(255, 174, 0);
}





@keyframes Gradient-Animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}



.social-icons-list {
    li {
        display: inline-block;

        a {
            margin: 0px 10px 20px 0px;
            // display: inline-block;
            color: #eee;
            text-align: center;
            // font-size: 2rem;
            // line-height: 5rem;
            transition: all .3s ease-in-out;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            background: #222;

            display: flex;
            align-items: center;
            justify-content: center;

            path {
                transition: all .3s ease-in-out;
                fill: white;
            }
        }

        a:hover {
            background: #FFC300;
            color: #222;

            path {
                fill: #222;
            }
        }
    }
}

.footer__links {
    color: #222;
    font-size: 1.6rem;

    background-image: linear-gradient(#222, #222);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
    transition: background-size .3s ease-in-out;
}

.footer__links:hover {
    background-size: 100% 1px;
}

.footer__links--large {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}

.copyright {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    border-top: 1px #222 dotted;
    @include py(2rem);
    margin-top: 5rem;
    margin-bottom: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    color: #333;
    border: 1px solid #f9f9f9;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.card {
    margin-top: 5rem;
    background-color: #f9f9f9;
    border: 1px solid $lightgray-border;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}

.card-header {
    padding: 1rem 1.5rem;
    @include no-margin();
    border-bottom: 1px solid $lightgray-border;

    p {
        @include no-margin();
    }
}

.card-body {
    @include px(1.5rem);
    @include py(1rem);

    .form-control {
        display: flex;
        margin-bottom: 1rem;
        margin-top: 1rem;
        align-items: center;
        justify-items: flex-start;

        .caption {
            flex-basis: 30%;
            text-align: right;
        }

        .field {
            @include mx(1rem);
            flex-basis: 70%;

            span {
                margin-right: 2rem;
            }
        }


    }
}


.image-border-highlight {
    border: 3px solid blue !important;
}

.message-info {
    color: #007bff;
    font-size: 1.4rem;
}

.message-success {
    color: green;
    font-size: 1.4rem;
}

.message-error {
    color: red;
    font-size: 1.4rem;
}

.flex {
    display: flex;
}

.center-middle {
    justify-content: center;
    align-items: center;
}

.backdrop {
    background-color: rgba(0, 0, 0, 70%);
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
}
.message-wrapper{
    position: fixed;
    top: -5.7rem;
    left: 10rem;
    right: 10rem;
    text-align: center;
    z-index: 8;
    color: white;    
}
.bg-green{
    background: green;
}
.bg-red{
    background: red;
}
.show-message{
    animation-name: message-slide;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    // animation-timing-function: linear;
}
@keyframes message-slide {
    0%{top: -5.7rem;}
    10%{top: 0rem;}
    90%{top: 0rem;}
    100%{top: -5.7rem;}
  }


/////////////////////////////////waiting spinner start///////////////////////////////////////
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

/////////////////////////////////waiting spinner end ///////////////////////////////////////

.quote-button{
    background: $dark-color;
    color: white;
    padding: 1rem 1.2rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: .3rem;

    transition: .3s all;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.quote-button:hover{
    background: $yellow-color;
    // font-weight: 500;
    color: black;
}

.display-none{
    display: none;
}

#modal-image-preview {
    .modal-content{
        width: 100%;
        height: 100vh;
        max-height: 1080px;
        border-radius: 0rem;
        padding: 0;
        // overflow-y: auto;
        .image-wrapper{
            display: flex;
            justify-content: center;
            img{
                max-height: 100%;
            }
        }
    }
}