@media (min-width:1400px){
    .container{
        max-width: 1320px;
    }
    
    .hero{
        &__text {
            h1{
                font-size: 7rem;
            }
        }
    }
    
    // ********************************************************
                // Products Page
    // ********************************************************

    

    /* *********************************************************
                    Recommended
    ********************************************************* */

    .recommended-collection {

        .flex {
            
            .card {
                flex-basis: 23.78%;
            }
            // .card:nth-child(3n+3){
            //     margin-right: 0;
            // }
            

        }
    }
}