<nav id="navbar">
    <div class="container-full">
        <div class="brand">
            <a href="/">
                <svg height="25" viewBox="0 0 64 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.34557 7.34557H14.3554L19.8344 16.8666L14.3554 30H22.3053L28.0125 16.3429L18.5989 0H0V30H7.34557V7.34557Z" fill="#ffffff"/>
                    <path d="M49.3642 7.34557H42.3543L36.8619 16.8666L42.3543 30H34.391L28.6838 16.3429L38.1108 0H63.9747V7.34557H56.7097V30H49.3642V7.34557Z" fill="#ffffff"/>
                </svg>
                <strong style="color: white; font-weight: 900; font-size: 3.3rem; margin-left: 0.5rem;">GLOVES</strong>

            </a>
        </div>

        <ul class="desktop-main-nav">
            <li><a href="/custom">CUSTOMS</a></li>
            <li><a href="/bulk-orders">BULK ORDER</a></li>
        </ul>
        
        <div class="secondary">
            <button id="btn-search"><svg height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11V11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="white"/></svg></button>
            <a href="/cart" id="btn-cart">
                <svg width="20" height="20" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.80941 8.84C1.84963 8.33881 2.07716 7.87115 2.44668 7.53017C2.81621 7.18918 3.3006 6.9999 3.80341 7H15.8614C16.3642 6.9999 16.8486 7.18918 17.2181 7.53017C17.5877 7.87115 17.8152 8.33881 17.8554 8.84L18.6584 18.84C18.6805 19.1152 18.6454 19.392 18.5552 19.6529C18.4651 19.9139 18.3219 20.1533 18.1347 20.3562C17.9475 20.5592 17.7203 20.7211 17.4674 20.8319C17.2146 20.9427 16.9415 20.9999 16.6654 21H2.99941C2.72333 20.9999 2.45026 20.9427 2.19739 20.8319C1.94452 20.7211 1.71732 20.5592 1.53011 20.3562C1.34289 20.1533 1.19971 19.9139 1.10958 19.6529C1.01945 19.392 0.984324 19.1152 1.00641 18.84L1.80941 8.84V8.84Z" fill="black" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.8325 10V5C13.8325 3.93913 13.4111 2.92172 12.6609 2.17157C11.9108 1.42143 10.8934 1 9.83252 1C8.77165 1 7.75424 1.42143 7.00409 2.17157C6.25395 2.92172 5.83252 3.93913 5.83252 5V10" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
           
            <% if (user) { %>            
                <ul class="nav-drop-down">
                    <li>
                        <a id="btn-account" href="/account"><svg height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2C9.1 2 10 2.9 10 4C10 5.1 9.1 6 8 6C6.9 6 6 5.1 6 4C6 2.9 6.9 2 8 2ZM8 12C10.7 12 13.8 13.29 14 14H2C2.23 13.28 5.31 12 8 12ZM8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0ZM8 10C5.33 10 0 11.34 0 14V16H16V14C16 11.34 10.67 10 8 10Z" fill="white"/></svg></a>
                        <ul class="nav-drop-down-sub">
                            <li><a class="second-menu" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            <% } else { %>
                <a id="btn-account" href="/login"><svg height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2C9.1 2 10 2.9 10 4C10 5.1 9.1 6 8 6C6.9 6 6 5.1 6 4C6 2.9 6.9 2 8 2ZM8 12C10.7 12 13.8 13.29 14 14H2C2.23 13.28 5.31 12 8 12ZM8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0ZM8 10C5.33 10 0 11.34 0 14V16H16V14C16 11.34 10.67 10 8 10Z" fill="white"/></svg></a>
            <% }%>
        </div>
        <button id="nav-hamburger" class="hamburger"><svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="white"/></svg></button>
    </div>
</nav>