<footer class="footer">
    <div class="container">
        <div class="footer__section">
            <p class="footer__heading">CONTACT US</p>
            <ul>
                <li>REEMA TECHNOLOGIES</li>
                <li>reemasons@reemagroup.com</li>
                <br>
                <li>Neka Pura, Zafarwal Road</li>
                <li>Sialkot-51310</li>
                <li>Pakistan</li>
                <br>
                <li>+92 300 96 12 686</li>
                <li>+92 52 354 12 47</li>
            </ul>
        </div>

        <div class="footer__section">
            <p class="footer__heading">STAY CONNECTED <span>follow us on</span></p>

            <ul class="social-icons-list">
                <li>
                    <a href="https://www.facebook.com/reematec">
                        <svg height="20" viewBox="0 0 34 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 66V33H0V22H11V16.093C11 4.90875 16.4478 0 25.7428 0C30.195 0 32.549 0.33 33.6628 0.48125V11H27.324C23.3778 11 22 13.0818 22 17.3003V22H33.5638L31.9935 33H22V66H11Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/reematec/">
                        <svg height="20" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.2446 0C8.63238 0 0 8.64037 0 19.2554V46.7554C0 57.3676 8.64037 66 19.2554 66H46.7554C57.3676 66 66 57.3596 66 46.7446V19.2446C66 8.63238 57.3596 0 46.7446 0H19.2446ZM52.25 11C53.768 11 55 12.232 55 13.75C55 15.268 53.768 16.5 52.25 16.5C50.732 16.5 49.5 15.268 49.5 13.75C49.5 12.232 50.732 11 52.25 11ZM33 16.5C42.0998 16.5 49.5 23.9003 49.5 33C49.5 42.0998 42.0998 49.5 33 49.5C23.9003 49.5 16.5 42.0998 16.5 33C16.5 23.9003 23.9003 16.5 33 16.5ZM33 22C30.0826 22 27.2847 23.1589 25.2218 25.2218C23.1589 27.2847 22 30.0826 22 33C22 35.9174 23.1589 38.7153 25.2218 40.7782C27.2847 42.8411 30.0826 44 33 44C35.9174 44 38.7153 42.8411 40.7782 40.7782C42.8411 38.7153 44 35.9174 44 33C44 30.0826 42.8411 27.2847 40.7782 25.2218C38.7153 23.1589 35.9174 22 33 22Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/reema-technologies/">
                        <svg height="20" viewBox="0 0 69 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 66H0V21H15V66ZM7.503 15C3.354 15 0 11.637 0 7.497C0 3.357 3.36 0 7.503 0C11.637 0 15 3.363 15 7.497C15 11.637 11.637 15 7.503 15ZM69 66H54.579V44.1C54.579 38.877 54.48 32.16 47.082 32.16C39.573 32.16 38.418 37.848 38.418 43.722V66H24V20.967H37.842V27.12H38.037C39.963 23.58 44.67 19.848 51.69 19.848C66.3 19.848 69 29.175 69 41.301V66Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCyWn-MXxQyfgHkD5nCUmD0A">
                        <svg height="20" viewBox="0 0 78 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M38.9965 0C26.4397 0 10.1417 3.14621 10.1417 3.14621L10.1007 3.19308C4.3816 4.10773 0 9.02207 0 14.9987V51.0013C0.00558087 53.8557 1.02852 56.6146 2.88514 58.7826C4.74176 60.9506 7.31044 62.3858 10.13 62.8304L10.1417 62.8479C10.1417 62.8479 26.4397 66 38.9965 66C51.5534 66 67.8514 62.8479 67.8514 62.8479L67.8573 62.8421C70.6798 62.3984 73.2515 60.9621 75.1095 58.7915C76.9676 56.6209 77.9901 53.8586 77.9931 51.0013V14.9987C77.9889 12.1433 76.9666 9.38303 75.1098 7.21378C73.2531 5.04454 70.6836 3.60854 67.8631 3.16378L67.8514 3.14621C67.8514 3.14621 51.5534 0 38.9965 0ZM29.9973 19.1936L53.9952 32.9971L29.9973 46.8005V19.1936Z"
                                fill="black" />
                        </svg>
                    </a>
                </li>
            </ul>

            <p>
                <a class="btn footer__links" href="/privacy">Privacy Policy</a> /
                <a class="btn footer__links" href="/terms">Terms of Use</a> /
                <a class="btn footer__links" href="/cookie">Cookie Policy</a>
            </p>
        </div>

        <div class="footer__section">
            <p class="footer__heading">PRODUCT CATEGORIES</p>
            <ul>
                <% categories.forEach(category => { %>
                    <li><a class="btn footer__links footer__links--large" href="/category/<%= category.slug %>"><%= category.name %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="copyright">Copyright ©<%= new Date().getFullYear() %>  Reema Technologies® | All rights reserved.</p>
    </div>


</footer>