<footer class="footer">
    <div class="container">
        <div class="footer__section">
            <p class="footer__heading">CONTACT US</p>
            <ul>
                <li>REEMA TECHNOLOGIES</li>
                <li>reemasons@reemagroup.com</li>
                <br>
                <li>Neka Pura, Zafarwal Road</li>
                <li>Sialkot-51310</li>
                <li>Pakistan</li>
                <br>                        
                <li>+92 300 96 12 686</li>
                <li>+92 52 354 12 47</li>
            </ul>
        </div>
        
        <div class="footer__section">
            <p class="footer__heading">STAY CONNECTED <span>follow us on</span></p>

            <ul class="social-icons-list">
                <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                            
                <li><a href="https://www.instagram.com/reematec/"> <i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCyWn-MXxQyfgHkD5nCUmD0A"> <i class="fab fa-youtube"></i></a></li>
            </ul>

            <p >
                <a class="btn footer__links" href="/privacy">Privacy Policy</a> / 
                <a class="btn footer__links" href="/terms">Terms of Use</a> / 
                <a class="btn footer__links" href="/cookie">Cookie Policy</a>
            </p>                    
        </div>
                
        <div class="footer__section"> 
            <p class="footer__heading">PRODUCT CATEGORIES</p>                    
            <ul>
                <li ><a class="btn footer__links footer__links--large" href="https://reematec.com/subcategory/hand-stitched-footballs">SOCCER BALLS</a></li>                                
                <li ><a class="btn footer__links footer__links--large" href="https://reematec.com/subcategory/hand-stitched-handballs">HANDBALLS</a></li>                                
                <li ><a class="btn footer__links footer__links--large" href="https://reematec.com/category/volleyballs">VOLLEYBALLS</a></li>                                
                <li ><a class="btn footer__links footer__links--large" href="https://reematec.com/category/goalkeeper-gloves">GOALKEEPER GLOVES</a></li>                                                                
                <li ><a class="btn footer__links footer__links--large" href="https://reematec.com/category/face-mask">FACE MASKS</a></li>
            </ul>                    
        </div>
    </div>
    <div class="container">
        <p class="copyright">Copyright ©2021 Reema Technologies® | All rights reserved.</p>        
    </div>    
    

</footer>