<header>
    <div class="topbar">
        <div class="container full-max-width">
            <div class="topbar__slider flex-center">
                <button class="topbar__slider__nav" ><i class="fas fa-chevron-left"></i></button>
                <ul class="topbar__slider__list"  id="contact-list-slider" >
                    <li class="topbar__slider__list__items">+92 300 96 12 686</li>
                    <li class="topbar__slider__list__items">+92 52 3541247</li>
                    <li class="topbar__slider__list__items">+92 31 000 000 000</li>
                </ul>
                <button class="topbar__slider__nav" ><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="topbar__links">
                <ul class="topbar__links__list flex-right">
                    <li  class="topbar__links__list__items"><button id="btnSearch" class="btn btn-icon" href="#">
                        <svg width="14" height="14" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M50 44H46.84L45.72 42.92C49.64 38.36 52 32.44 52 26C52 11.64 40.36 0 26 0C11.64 0 0 11.64 0 26C0 40.36 11.64 52 26 52C32.44 52 38.36 49.64 42.92 45.72L44 46.84V50L64 69.96L69.96 64L50 44ZM26 44C16.04 44 8 35.96 8 26C8 16.04 16.04 8 26 8C35.96 8 44 16.04 44 26C44 35.96 35.96 44 26 44Z" fill="white"/>
                            </svg>
                            
                    </button></li>
                    <!-- <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/quotes"><i class="fas fa-quote-right"></i></a></li>-->
                    
                    <% if (user) { %>
                        <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/dashboard"><%= user.firstname +' '+ user.lastname %></a></li>
                        <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/logout">Logout</a></li>
                     
                    <% } else { %>
                        <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/login">Login</a></li>
                    <% } %>
                    
                     
                    
                        
                         
                    
                    <!-- <li  class="topbar__links__list__items"><a class="btn-icon" href="#"><i class="fas fa-sign-in-alt"></i></a></li> -->
                </ul>                
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container full-max-width">
            <div class="navbar__brand">
                <a href="/"><img class="image-responsive" src="/images/reema-logo.jpeg" alt="" srcset=""></a>
                <div class="navbar__brand__hamburger">
                    <span class="navbar__brand__hamburger__line"></span>
                    <span class="navbar__brand__hamburger__line"></span>
                    <span class="navbar__brand__hamburger__line"></span>
                </div>
            </div>
            <%- include('_navbar') %>

        </div>
    </nav>
</header>