<div class="modal" id="modal-quote">
        <div class="modal-content">
            <span class="close-button"><i class="fas fa-times"></i></span>
            <div id="rfq-preview">
                <div>
                    <img class="image-responsive" src="" alt="">
                </div>
                <div class="rfq-detail">
                    <p>Model Name: <span id="prod-name"></span></p>
                    <p>Construction Type: <span id="prod-construction"></span></p>
                    <p>Usage: <span id="prod-usage"></span></p>                    
                </div>
            </div>
            <div>
                <form id="frmQuote" action="" method="get">
                    <div class="form-control">
                        <label class="label" for="txtFullName">Name</label>
                        <input class="textbox input-full" type="text" name="txtFullName" id="txtFullName">                        
                    </div>
                    <div class="form-control">
                        <label class="label" for="txtEmail">Email</label>
                        <input class="textbox input-full" type="email" name="txtEmail" id="txtEmail">                        
                    </div>
                    <div class="form-control">
                        <label class="label" for="txtCity">City</label>
                        <input class="textbox input-full" type="text" name="txtCity" id="txtCity">                        
                    </div>
                    <div class="form-control">
                        <label class="label" for="txtCountry">Country</label>
                        <input class="textbox input-full" type="text" name="txtCountry" id="txtCountry">                        
                    </div>
                    <div class="form-control">
                        <label class="label" for="txtQuantity">Quantity</label>
                        <input class="textbox input-full" type="text" name="txtQuantity" id="txtQuantity">
                    </div>
                    <input class="btn btn-full btn-solid-primary"  type="submit" value="Send">
                </form>

            </div>
        </div>
    </div>