
<div class="modal" id="modal-images">
        <div class="modal-content">
            <span class="close-button"><i class="fas fa-times"></i></span>
            
            <div class="modal-image-showcase" id="image-showcase">

            </div>
            &nbsp;
            <button id="load-more-images">Load More</button>
            
        </div> 
    </div>