<div class="modal" id="modal-search">
    <div class="modal-content">
        <span class="close-button"><i class="fas fa-times"></i></span>
        <div>
            <form id="frmSearch" action="" method="get">
                <input class="textbox input-full" type="text" name="txtSearch" id="txtSearch" placeholder="Search">
                <input class="btn btn-full btn-solid-primary"  type="submit" value="Search">
            </form>
            
        </div>
    </div>
</div>