
<div class="modal" id="modal-images">
        <div class="modal-content">
            <span close-button class="close-button">
                <svg width="15" height="15" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.4425 22.9081C25.7779 23.2434 25.9663 23.6983 25.9663 24.1725C25.9663 24.6467 25.7779 25.1016 25.4425 25.4369C25.1072 25.7723 24.6524 25.9607 24.1781 25.9607C23.7039 25.9607 23.249 25.7723 22.9137 25.4369L13.4692 15.9895L4.02181 25.4339C3.68647 25.7693 3.23164 25.9577 2.75739 25.9577C2.28315 25.9577 1.82832 25.7693 1.49298 25.4339C1.15763 25.0986 0.969238 24.6438 0.969238 24.1695C0.969238 23.6953 1.15763 23.2405 1.49298 22.9051L10.9404 13.4607L1.49595 4.01323C1.16061 3.67788 0.972213 3.22306 0.972213 2.74881C0.972213 2.27456 1.16061 1.81974 1.49595 1.48439C1.8313 1.14905 2.28612 0.960655 2.76037 0.960655C3.23462 0.960655 3.68944 1.14905 4.02479 1.48439L13.4692 10.9318L22.9167 1.48291C23.252 1.14756 23.7068 0.959167 24.1811 0.959167C24.6553 0.959167 25.1102 1.14756 25.4455 1.48291C25.7808 1.81825 25.9692 2.27307 25.9692 2.74732C25.9692 3.22157 25.7808 3.6764 25.4455 4.01174L15.9981 13.4607L25.4425 22.9081Z" fill="black"/>
                </svg>
            </span>
            
            <div class="modal-image-showcase" id="image-showcase">

            </div>
            &nbsp;
            <button id="load-more-images">Load More</button>
            
        </div> 
    </div>