<div class="modal" id="modal-quote">
    <div class="modal-content">
        <span close-button class="close-button"><i class="fas fa-times"></i></span>
        <div id="rfq-preview">
            <div>
                <img width="100" height="100" class="image-responsive" src="" alt="">
            </div>
            <div class="rfq-detail">
                <h4>REQUEST FOR QUOTE</h4>
                <p>Model Name: <span id="prod-name"></span></p>
            </div>
        </div>

        <p id="message"></p>

        <div>
            <form id="frmQuote" method="POST">
                <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">

                <div class="form-control">
                    <label class="label" for="txtFullName">Name <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="text" name="txtFullname" id="txtFullName" autofocus
                        required>
                </div>
                <div class="form-control">
                    <label class="label" for="txtEmail">Email <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="email" name="txtEmail" id="txtEmail" required>
                </div>
                <div class="form-control">
                    <label class="label" for="txtCountry">Country <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="text" name="txtCountry" id="txtCountry" required>
                </div>
                <div class="form-control">
                    <label class="label" for="txtQuantity">Quantity <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="number" name="txtQuantity" id="txtQuantity" required>
                </div>

                <div class="sidebyside">
                    <input class="btn btn-full btn-solid-black" close-button type="button" value="Close">
                    <input class="btn btn-full btn-solid-primary" name="send-quote" type="submit" value="Send">
                </div>
            </form>

        </div>
    </div>
</div>