<ul class="navbar__links-list" id="navbar-links">
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/category">Categories</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/subcategory">Subcategories</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/product">Products</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/tags">Tags</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/sizes">Sizes</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/images">Image Gallery</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/home/blogs">Blogs</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="#">Profile</a></li>
</ul>