<ul class="navbar__links-list" id="navbar-links">
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/">HOME</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/products">PRODUCTS</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/about">ABOUT</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/contact">CONTACT</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/blogs">BLOG</a></li>
    <li class="navbar__links-list__items"><a class="btn expand-border" href="/faqs">HELP</a></li>
</ul>