<section class="error-page">
    
    <div id="error">
        <div class="error">
            <div class="error-500">
                <h1>500</h1>
            </div>
            <h2>Woops! Internal Server Error</h2>
            <p>The error has been reported and we soon going to fix it.</p>
            <a href="/">Back To Homepage</a>
        </div>
    </div>

</section>

<%- include('./components/_footer') %>