<section class="about-page">
    <h1 class="about-page-heading">COMMITTED AND DEDICATED TO SPORT OVER 60 YEARS</h1>
    
    <div class="about-section">
        <div class="about__flex intro container">
            <div>
                <img class="image-responsive" src="/images/Shield.jpeg" alt="Reema ISPO 60 Years acheivement award">
            </div>
            <div>
                <h2>OUR HISTORY</h2>
                <P>Reema group of companies is a partnership firm based in Sialkot, Pakistan engaged in business of sports goods and sportswear manufacturing. Reema is founded in 1959 by late Mr. Abdus Salaam and now operated by 2nd generation. With its 6 decades of experience and industry knowledge company has the reputation to produce remarkable masterpieces.</P>
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="about__flex container">
            <div>
                <h2>HOW WE DO IT</h2>
                <P>Our organized team works in close collaboration with clients, assisting them to realized their ideas to design and to finish products with their custom specifications. Interaction at every step of development results in complete customer satisfaction and valuable relationship.</P>
            </div>
            <div>
                <img src="/images/reema-pentagon-logo.png" alt="Reema first pentagon logo">
            </div>
        </div>
    </div>
    
    <div class="about-section">
        <div class="about__flex container">
            <div>
                <img src="/images/reema-swoosh-logo.png" alt="Reema swoosh black logo">
            </div>
            <div>
                <h2>OUR COMMITMENT</h2>
                <P>Our desire to produce perfect runs deep - that's why we commit to make our products the best they can be, no matter what it take to acheive.</P>
            </div>
        </div>
    </div>
    
    <div class="about-section">
        <div class="about__flex container">
            <div>
                <h2>MOTIVEARS</h2>
                <P>Motivears is subsidiary of Reema Group of Companies mainly engaged in production of Martial Art uniforms. Motivears focuses on high grade raw material, excellent craftsmanship, product customization, durability and comfort with modern and bold designs for experienced players and novices alike.</P>
            </div>
            <div>
                <img src="/images/motivears-logo.png" alt="Reema garments line Motivears logo">
            </div>
        </div>
    </div>

</section>

<%- include('./components/_footer') %>
