<section class="notfound-page">
    
    <div id="notfound">
        <div class="notfound">
            
            <h2>Sorry, access to this page is not allowed</h2>
            <p>Please return</p>
        </div>
    </div>

</section>

<%- include('./components/_footer') %>