<section class="container blog-page" >
    <h1 class="blog-page-heading">BLOGS & ARTICLES</h1>
    
    <div class="blogs">

        <a href="#" class="blog-card">
            <img class="blog-image image-responsive" src="/images/mob.jpg" alt="">
            <div class="blog-caption">
                <h2 class="blog-title">History of football</h2>
                <p class="blog-intro">No Doubt, Football is the most popular, the most-watched</p>
            </div>
        </a>
        
        <a href="#" class="blog-card">
            <img class="blog-image image-responsive" src="/images/Handball Player.jpg" alt="">
            <div class="blog-caption">
                <h2 class="blog-title">Handball Introduction</h2>
                <p class="blog-intro">Handball is an exciting sport played on five continents, involving more than 180 countries</p>
            </div>
        </a>
        
        <a href="#" class="blog-card">
            <img class="blog-image image-responsive" src="/images/Soccer-Ball-sizes.jpg" alt="">
            <div class="blog-caption">
                <h2 class="blog-title">Football sizes and weights</h2>
                <p class="blog-intro">Footballs are being produced in several configurations and in different sizes</p>
            </div>
        </a>
        <a href="#" class="blog-card">
            <img class="blog-image image-responsive" src="/images/Handball Player.jpg" alt="">
            <div class="blog-caption">
                <h2 class="blog-title">Handball Introduction</h2>
                <p class="blog-intro">Handball is an exciting sport played on five continents, involving more than 180 countries</p>
            </div>
        </a>

    </div>

</section>

<%- include('./components/_footer') %>