{% extends 'public/main.html' %}
{% block content %}
{% load static %}

        <section class="container">
            <h1>Confirm your email</h1>

            <p>Please confirm your email address to complete the registration. </p>

            <p>If email has been confirmed please <a href="{% url 'login' %}">login</a></p>
                        
        </section>

            
        {% comment %} <section class="container login-page">
            <div class="social-logins">
                <p>- or login with -</p>

                <ul class="social-icons-list">
                    <li><a href="https://www.google.com/"><i class="fab fa-google"></i></a></li>                    
                    <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                    
                    <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                </ul>

            </div> 
        </section> {% endcomment %}

{% include 'public/components/_footer.html' %}

{% endblock %}

