<section class="container faqs">
  <h1>Frequently Asked Questions</h1>

  <div class="tabs collapsed">
    <div class="tab">
      <input type="checkbox" id="first" />
      <label for="first" class="header">
        <h3>Are we a trading company or manufacturer?</h3>
      </label>
      <div class="content">
        <p>We are a manufacturer, working in sports industry for last 6 decades, with our own 2655 square meter manufacturing facility where we conduct and monitor every aspect of production.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="second" />
      <label for="second" class="header">
        <h3>Do we comply to social responsibilities?</h3>
      </label>
      <div class="content">
        <p>Yes, We are certified by BSCI and SEDEX in recognition to our efforts towards social accountability and maintains child labor free production facility.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="third" />
      <label for="third" class="header">
        <h3>Are we child labour free company?</h3>
      </label>
      <div class="content">
        <p>Yes, we maintain child labor free production facility and active member of ILO/IMAC.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="forth" />
      <label for="forth" class="header">
        <h3>What’s the monthly capacity?</h3>
      </label>
      <div class="content">
        <p>Our Production capacity is about 7000 Units per month.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="5th" />
      <label for="5th" class="header">
        <h3>What certificates can be available for your products?</h3>
      </label>
      <div class="content">
        <p>Our material passes EN71, 6P, PAHS, REACH.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="6th" />
      <label for="6th" class="header">
        <h3>Design and logo customization?</h3>
      </label>
      <div class="content">
        <p>Yes, we will develop any design as per ideas or you can provide us your own designs.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="7th" />
      <label for="7th" class="header">
        <h3>Can I have a sample for the quality check?</h3>
      </label>
      <div class="content">
        <p>
          Yes, We provide samples at orginal price paid in advance. For shipping, multiple services will be quoted from which the client can select or can book the parcel form his own courier account
          we will not require the courier charges.
        </p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="8th" />
      <label for="8th" class="header">
        <h3>What is the minimum quantity for each order?</h3>
      </label>
      <div class="content">
        <p>
          Depending on the model the MOQ varies. Usually, it ranges between 200 - 300 units per article. However, from new clients for trail orders, we accept below our MOQ to build acquaintance and
          mutual understanding.
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="9th" />
      <label for="9th" class="header">
        <h3>What is production time?</h3>
      </label>
      <div class="content">
        <p>Normally 15-30 days, depending on order quantity and orders already in the queue.</p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="10th" />
      <label for="10th" class="header">
        <h3>What payment terms can we accept?</h3>
      </label>
      <div class="content">
        <p>We accept payment by L/C at sight, T/T(bank transfer), Paypal, Western Union.</p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="11th" />
      <label for="11th" class="header">
        <h3>What is our order confirmation Procedure?</h3>
      </label>
      <div class="content">
        <p>We require 50% - 100% advance payment from customers depending on order value.</p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="12th" />
      <label for="12th" class="header">
        <h3>How do you guarantee the quality?</h3>
      </label>
      <div class="content">
        <p>
          We have team of expert quality control staff at every step of production who make sure your order is defect proof. We also share the images and videos of production for clients approval.
        </p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="13th" />
      <label for="13th" class="header">
        <h3>Do you have a shipping agent?</h3>
      </label>
      <div class="content">
        <p>Yes, we have independent shipping agents to arrange shipping and custom clearance for you.</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="14th" />
      <label for="14th" class="header">
        <h3>Can you help me ship the goods to our port once ready?</h3>
      </label>
      <div class="content">
        <p>Yes, we work with multiple shipping agents, we can offer this service at a very honest price. (By sea, By air or express could be chosen)</p>
      </div>
    </div>

    <div class="tab">
      <input type="checkbox" id="15th" />
      <label for="15th" class="header">
        <h3>How to Contact?</h3>
      </label>
      <div class="content">
        <p>You can contact us by landline, cell, SMS, WhatsApp, Email or any means easy for you. Contact details can be found on our <a href="/contact">contact Page </a></p>
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="16th" />
      <label for="16th" class="header">
        <h3>The timing for contact?</h3>
      </label>
      <div class="content">
        <p>You can contact us at any time between 8 am - 5 pm (Pakistan Standard Time) during official hours. However, we would be available for any urgent info after official hours.</p>
      </div>
    </div>
  </div>
</section>

<%- include('./components/_footer') %>
