<section class="hero">
    <div class="container full-max-width">
        <div class="hero__image hero__content">
            <a href="/products">
                <img class="image-responsive " src="/images/arean-star-small.jpg" alt="Arena Star soccer balls image">
            </a>
        </div>
        <div class="hero__text hero__content">
            <h1>ALL YOU NEED TO POWER YOUR SPORT</h1>
            <p>We are expert in production, so naturally we create performance products. We do it through an obsessive attention to the craftmanship and deep expertise in designing, innovation and engineering. Executing all to create remarkable product that truly amaze athletes.</p>
            <a class="btn btn-standard btn-solid-primary" href="/products">View our products</a>
        </div>
    </div>

</section>

<section class="about">
    <div class="container-full">
        <p class="about__welcome">Welcome to</p>                
        <h2 class="about__title">REEMA GROUP OF COMPANIES <span class="about__title__sub">MANUFACTURER OF SPORTS GOODS & SPORTSWEAR</span></h2>                
        <p class="about__para">Reema is a sports goods and sportswear manufacturing firm that partners with forward-thinking brands from around the world. We combine experience and technology to create impressive product and bring a deep commitment to brand identity. We believe in delivering the best that matter and we get there by making unrelated raw material into incredible masterpiece – that occupy the sweet spot between admiration and inspiration. <a href="{% url 'about' %}" class="btn">more...</a></p>                
    </div>
</section>

<section class="product-collection">
    <div class="container-full">
        <h2 class="product-collection__title">SOCCER BALL COLLECTION <span class="product-collection__title__sub"> Our soccer collection includes Hand stitched, Machine stitched,Thermo bounded & Fusion Tec® Hybrid balls.</span></h2>
        <!-- You'll find a wide selection of gear suitable for youth football on up through college level play -->
        <div class="product-collection__flex">
            <!-- Quote Modal travers to .quote-wrapper from quote-button -->
            <div class="product-collection__flex__card quote-wrapper">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive product-image" src="/images/Arena Star.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Arena Star</p>
                            <div class="card__caption__basic__info">
                                <p class="construction-type" >Fusion Tec</p>
                                <p class="usage">Top Competition</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                            <button class="quote-button">GET QUOTE</button>
                        </div> 

                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card quote-wrapper">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive product-image" src="/images/Aston.jpg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Aston</p>
                            <div class="card__caption__basic__info">
                                <p class="construction-type">Thermo Bonded</p>
                                <p class="usage">Match</p>
                            </div>

                        </div>
                        
                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                            <button class="quote-button">GET QUOTE</button>
                        </div>
                        
                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card quote-wrapper">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive product-image" src="/images/Long Life.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Long Life</p>
                            <div class="card__caption__basic__info">
                                <p class="construction-type">Hand Stitched</p>
                                <p  class="usage">Training</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                            <button class="quote-button">GET QUOTE</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card quote-wrapper">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive product-image" src="/images/Phantom.jpeg" alt="">
                    <div class="card__caption">
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Phantom</p>
                            <div class="card__caption__basic__info">
                                <p class="construction-type">Hand Stitched</p>
                                <p class="usage">Match</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                                                        
                            </p>
                            <button class="quote-button">GET QUOTE</button>
                        </div>

                    </div> 
                </a>
            </div>
            
        </div>
    </div>
</section>

<section class="features">
    <div class="container-full">
        <div class="features__section">
            <img src="/images/customization.svg" alt="" >
            <h3>Custom Design Development</h3>
            <p>We develop customs designs according to client instructions and inspiration</p>
        </div>
        <div class="features__section">
            <img src="/images/payments.svg" alt="">
            <h3>Easy Sample Payment</h3>
            <p>For sample's and trial order clients can use instant payments like PayPal</p>
        </div>
        <div class="features__section">
            <img src="/images/moq.svg" alt="" >
            <h3>Flexible MOQ</h3>
            <p>Our trial order quantities are very flexible so every body could order to check and test the quality</p>
        </div>
        <div class="features__section">
            <img src="/images/shipping.svg" >
            <h3>Mutliple Shipping Options</h3>
            <p>Multiple shipping options are available for different size of shipments</p>
        </div>
    </div>
</section>

<section class="product-collection">
    <div class="container-full">
        <h2 class="product-collection__title">SOCCER BALL COLLECTION <span class="product-collection__title__sub"> Our soccer collection includes Hand stitched, Machine stitched,Thermo bounded & Fusion Tec® Hybrid balls.</span></h2>
        <!-- You'll find a wide selection of gear suitable for youth football on up through college level play -->
        <div class="product-collection__flex">

            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Arena Star.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Arena Star</p>
                            <div class="card__caption__basic__info">
                                <p>Fusion Tec</p>
                                <p>Top Competition</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div> 

                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Aston.jpg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Aston</p>
                            <div class="card__caption__basic__info">
                                <p>Thermo Bonded</p>
                                <p>Match</p>
                            </div>

                        </div>
                        
                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div>
                        
                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Long Life.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Long Life</p>
                            <div class="card__caption__basic__info">
                                <p>Hand Stitched</p>
                                <p>Training</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Phantom.jpeg" alt="">
                    <div class="card__caption">
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Phantom</p>
                            <div class="card__caption__basic__info">
                                <p>Hand Stitched</p>
                                <p>Match</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                                                        
                            </p>
                        </div>

                    </div> 
                </a>
            </div>
            
            
            
        </div>
    </div>
</section>

<section class="experience">
    <video class="experience__video" preload="auto" muted src="https://reematec.com/images/Soccer.mp4" autoplay="autoplay" type="video/webm" loop></video>
    <div class="experience__container ">
        <div class="experience__container__wrapper container">
            <h2>WE BUILD INNOVATED & DURABLE PRODUCTS</h2>
            <P>With 6 decades of experience we deliver perfect product.</P>
            <a class="btn btn-standard btn-solid-primary" href="/about">Learn more</a>
        </div>                
    </div>        
</section>

<section class="product-collection">
    <div class="container-full">
        <h2 class="product-collection__title">SOCCER BALL COLLECTION <span class="product-collection__title__sub"> Our soccer collection includes Hand stitched, Machine stitched,Thermo bounded & Fusion Tec® Hybrid balls.</span></h2>
        <!-- You'll find a wide selection of gear suitable for youth football on up through college level play -->
        <div class="product-collection__flex">

            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Arena Star.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Arena Star</p>
                            <div class="card__caption__basic__info">
                                <p>Fusion Tec</p>
                                <p>Top Competition</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div> 

                    </div>
                </a>
            </div>


            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Aston.jpg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Aston</p>
                            <div class="card__caption__basic__info">
                                <p>Thermo Bonded</p>
                                <p>Match</p>
                            </div>

                        </div>
                        
                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="">1</span>                                    
                                <span class="">2</span>                                    
                                <span class="">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div>
                        
                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Long Life.jpeg" alt="">
                    <div class="card__caption">
                        
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Long Life</p>
                            <div class="card__caption__basic__info">
                                <p>Hand Stitched</p>
                                <p>Training</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                    
                                <span class="availble">4</span>                                    
                                <span class="availble">5</span>                                    
                            </p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="product-collection__flex__card">
                <a class="btn card__wrapper" href="#">
                    <img class="image-responsive" src="/images/Phantom.jpeg" alt="">
                    <div class="card__caption">
                        <div class="card__caption__basic">
                            <p class="card__caption__basic__name">Phantom</p>
                            <div class="card__caption__basic__info">
                                <p>Hand Stitched</p>
                                <p>Match</p>
                            </div>
                        </div>

                        <div class="card__caption__attribute">
                            <p class="card__caption__attribute__size">Size Availability</p>
                            <p class="card__caption__attribute__sizes">
                                <span class="availble">1</span>                                    
                                <span class="availble">2</span>                                    
                                <span class="availble">3</span>                                                                        
                            </p>
                        </div>

                    </div> 
                </a>
            </div>
            
            
        </div>
    </div>
</section>

<%- include('./components/_footer') %>
