{% extends 'public/main.html' %}
{% block content %}
{% load static %}

        <section class="container login-page">
            <h1>Password Reset</h1>
            <form action="" method="POST">
            {% csrf_token %}
                <div class="form-control">
                    <label class="label" for="txtEmail">Email</label>
                    <input class="textbox input-full" type="text" name="email" id="txtEmail" {% if form.email.value %} value="{{form.email.value}}" {% endif %} required>                    
                </div>               
                <input class="btn btn-solid-primary btn-full" type="submit" value="Reset">
            </form>
            
            <div class="social-logins">
                <p>- or login with -</p>

                <ul class="social-icons-list">
                    <li><a href="https://www.google.com/"><i class="fab fa-google"></i></a></li>                    
                    <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                    
                    <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                </ul>

            </div> 
        </section>

{% include 'public/components/_footer.html' %}

{% endblock %}

