<section class="container login-page">
    <h1>Password Reset</h1>

    <%- include('./components/_flashMessages') %>

    <form action="" method="POST">

        <div class="form-control">
            <label class="label" for="txtPassword1">New password:</label>
            <input class="textbox input-full" type="password" name="new_password1" id="txtPassword1" required>
            <span class="msg-error"></span>
        </div>

        <div class="form-control">
            <label class="label" for="txtPassword2">New password confirmation:</label>
            <input class="textbox input-full" type="password" name="new_password2" id="txtPassword2" required>
            <span class="msg-error"></span>
        </div>
        <input class="btn btn-solid-primary btn-full" type="submit" value="Reset">
    </form>
    
    <p class="signup">Create an account? <a href="/signup">Sign up</a></p>





    <div class="social-logins">
        <p>- or login with -</p>

        <ul class="social-icons-list">
            <li><a href="https://www.google.com/"> <svg height="20" viewBox="0 0 65 66" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M33.0107 0C14.781 0 0 14.7757 0 33C0 51.2243 14.781 66 33.0107 66C60.5382 66 66.74 40.4443 64.1577 27.5H33V38.5H54.2803C51.8339 47.9827 43.2464 55 33 55C20.8505 55 11 45.1495 11 33C11 20.8505 20.8505 11 33 11C38.5248 11 43.5576 13.0508 47.4214 16.4141L55.2363 8.60449C49.3678 3.25849 41.5715 0 33.0107 0Z" fill="black" /> </svg> </a></li>
            <li><a href="https://www.facebook.com/reematec">

                    <svg height="20" viewBox="0 0 34 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 66V33H0V22H11V16.093C11 4.90875 16.4478 0 25.7428 0C30.195 0 32.549 0.33 33.6628 0.48125V11H27.324C23.3778 11 22 13.0818 22 17.3003V22H33.5638L31.9935 33H22V66H11Z"
                            fill="black" />
                    </svg>


                </a></li>
            <li><a href="https://www.linkedin.com/company/reema-technologies/">

                    <svg height="20" viewBox="0 0 69 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 66H0V21H15V66ZM7.503 15C3.354 15 0 11.637 0 7.497C0 3.357 3.36 0 7.503 0C11.637 0 15 3.363 15 7.497C15 11.637 11.637 15 7.503 15ZM69 66H54.579V44.1C54.579 38.877 54.48 32.16 47.082 32.16C39.573 32.16 38.418 37.848 38.418 43.722V66H24V20.967H37.842V27.12H38.037C39.963 23.58 44.67 19.848 51.69 19.848C66.3 19.848 69 29.175 69 41.301V66Z"
                            fill="black" />
                    </svg>


                </a></li>
        </ul>

    </div>
</section>