{% extends 'public/main.html' %}
{% block content %}
{% load static %}

        <section class="container">
            <h1>Password reset complete</h1>
            <p> Your password has been reset. You may go ahead and <a href="{% url 'login' %}">Log in</a> now. </p>
        </section>
            
        <section class="container login-page">
            <div class="social-logins">
                <p>- or login with -</p>

                <ul class="social-icons-list">
                    <li><a href="https://www.google.com/"><i class="fab fa-google"></i></a></li>                    
                    <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                    
                    <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                </ul>

            </div> 
        </section>

{% include 'public/components/_footer.html' %}

{% endblock %}

