<section class="container login-page">
    <h1>Password Reset</h1>

    <%- include('./components/_flashMessages') %>

    <form action="/password-reset" method="POST">
        <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
        
        <div class="form-control">
            <label class="label" for="txtEmail">Email</label>
            <input class="textbox input-full" type="email" name="email" id="txtEmail" value="" required>
        </div>
        <input class="btn btn-solid-primary btn-full" type="submit" value="Reset">
    </form>

   
</section>