{% extends 'public/main.html' %}
{% block content %}
{% load static %}

        <section class="container login-page">
            <h1>Password Reset</h1>
            <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% comment %} {{form.as_p}} {% endcomment %}
               <div class="form-control">
                    <label class="label" for="txtPassword1">New password:</label>
                    <input  class="textbox input-full"  type="password" name="new_password1" id="txtPassword1" required>                    
                    <span class="msg-error">{{ form.new_password1.errors }}</span>                    
                </div>

                <div class="form-control">
                    <label class="label" for="txtPassword2">New password confirmation:</label>
                    <input  class="textbox input-full"  type="password" name="new_password2" id="txtPassword2" required>                    
                    <span class="msg-error">{{ form.new_password2.errors }}</span>                    
                </div> 
                <input class="btn btn-solid-primary btn-full" type="submit" value="Reset"> 
            </form>
            {% comment %} <p class="forgot-password"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
            <p class="signup">Create an account? <a href="{% url 'signup' %}">Sign up</a></p>

            {% if form.non_field_errors %}
                {% for field in form %}

                    {% for error in field.errors %}
                           <p> {{field.label}}: {{ error|escape }}</p>
                    {% endfor %}

                {% endfor %}
            {% endif %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if registration_form.non_field_errors %}
                <p>registration_form.non_field_errors </p>
                {%endif%}
{% endcomment %}
            {% comment %} <div class="social-logins">
                <p>- or login with -</p>

                <ul class="social-icons-list">
                    <li><a href="https://www.google.com/"><i class="fab fa-google"></i></a></li>                    
                    <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                    
                    <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                </ul>

            </div> {% endcomment %}
        </section> 

{% include 'public/components/_footer.html' %}

{% endblock %}

