{% extends 'public/main.html' %}
{% block content %}
{% load static %}

        <section class="container">
            <h1>Password reset email sent</h1>

            <p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
            <p> If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder.</p>
        </section>

            
        {% comment %} <section class="container login-page">
            <div class="social-logins">
                <p>- or login with -</p>

                <ul class="social-icons-list">
                    <li><a href="https://www.google.com/"><i class="fab fa-google"></i></a></li>                    
                    <li><a href="https://www.facebook.com/reematec"><i class="fab fa-facebook-f"></i></a></li>                    
                    <li><a href="https://www.linkedin.com/company/reema-technologies/"> <i class="fab fa-linkedin-in"></i></a></li>
                </ul>

            </div> 
        </section> {% endcomment %}

{% include 'public/components/_footer.html' %}

{% endblock %}

