<section class="container dashboard-page">
    <div class="card">                

        <div class="card-header">
            <p>Delete Blog - Confirmation</p>
        </div>

        <div class="card-body">
            <p>Are you sure you want to delete <strong>"<%= blog.name %>"</strong>?</p>
            <p>This action is permanent.</p>

            <form action="" method="POST">
                <input type="hidden" name="identifier" value="<%= blog.identifier %>">
                <div>
                    <a class="btn btn-normal btn-gray" href="/home/blog">Cancel</a>
                    <input class="btn btn-normal btn-red" type="submit" value="Delete">
                </div>
            </form>
        </div>
    </div>
</section>