<section class="container imageUpload-page">
    <div class="card">
        <div  class="card-header">
            <p>Add - image</p>
        </div>
        <div class="card-body">
            
        <form action="/home/images/add" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
            <input type="file" name="images" id="upload-image" multiple>
            
            <div id="image-preview-wrapper">

            </div>
            
            <div class="form-control">
                <input class="btn btn-normal btn-blue" type="submit" name="Submit" value="Upload">
                <a  class="btn btn-normal btn-gray" href="/home/images">Back</a>
            </div>
        </form>

        </div>
    </div>
</section>
