<section class="container dashboard-page">
    <div class="card">
        <div  class="card-header">
            <p>Add - image</p>
        </div>
        <div class="card-body">
            
        <form action="/home/images/add" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
            <input type="file" name="images" id="" multiple>
            <!-- <input type="file" name="singleImage" id="" > -->
            <input type="submit" name="Submit" value="Submit">
        </form> 


        <div class="form-control">
            <a  class="btn btn-normal btn-gray" href="/home/images">Cancel</a>
            
        </div>

                


        </div>
    </div>
</section>
