<section class="container dashboard-page">
    <div class="card">                

        <div class="card-header">
            <p>Delete Tag - Confirmation</p>
        </div>

        <div class="card-body">
            <p>Are you sure you want to delete <strong>"<%= tag.name %> "</strong>?</p>
            <p>This action is permanent.</p>
            
            <form action="/home/delete-tag/<%= tag.slug %>" method="POST">                
                <div>
                    <a class="btn btn-normal btn-gray" href="/home/tags">Cancel</a>
                    <input class="btn btn-normal btn-red" type="submit" name="btnDelete" value="Delete">
                </div>
            </form>


        </div>
    </div>
    
</section>